### Project ###
**/__pycache__/
**/.ipynb_checkpoints/

data/processed/*
!data/processed/.gitkeep

data/raw/*
!data/raw/.gitkeep

**/logs/
*.log

### DVC remote storage ###
dvc_storage/

### Hydra outputs ###
outputs/
multirun/


### MLflow ###
mlflow.db
mlruns/


### Virtual environments ###
**/.venv/
**/venv/
